{% extends 'base.html.twig' %}

{% block title %}OSTAJ - On S'Tient Au Jus !{% endblock %}

{% block stylesheets %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/home/confidentialite.css') }}">
{% endblock %}

{% block body %}



<section class="page-confidentialite">
    <div class="confidentialite-content">
        <h2 class="Confidentialite-titre1">Politique de confidentialité</h2>

        <div class="confidentialite-paragraphe">
            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Collecte d'Informations Personnelles
                </h3>
                <p class="confidentialite-text">
                    Lorsque vous passez une commande sur notre site, nous recueillons les informations personnelles nécessaires, votre nom, prénom, numéro de téléphone et adresse e-mail. Ces données sont strictement confidentielles et sont utilisées exclusivement pour traiter
                    votre réservation.
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Utilisation des Informations
                </h3>
                <p class="confidentialite-text">
                    Les informations collectées sont utilisées uniquement dans le cadre du traitement de votre réservation. Nous nous engageons à ne pas partager, vendre ou divulguer vos données personnelles à des tiers sans votre consentement explicite.
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Sécurité des Données
                </h3>
                <p class="confidentialite-text">
                    Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles. Toutes les informations sensibles sont cryptées et stockées de manière sécurisée. Nous nous efforçons de maintenir la confidentialité et l'intégrité de vos données.
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Conservation des Données
                </h3>
                <p class="confidentialite-text">
                    Vos informations personnelles seront conservées aussi longtemps que nécessaire pour traiter votre réservation et respecter les obligations légales en vigueur. Une fois que ces fins sont remplies, vos données seront supprimées de manière sécurisée.
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Droits de Confidentialité
                </h3>
                <p class="confidentialite-text">
                    Vous avez le droit de demander l'accès, la rectification ou la suppression de vos données personnelles. Pour exercer ces droits ou poser des questions sur notre politique de confidentialité, veuillez nous contacter à [votre adresse e-mail].
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Mises à Jour de la Politique de Confidentialité
                </h3>
                <p class="confidentialite-text">
                    Nous nous réservons le droit de mettre à jour notre politique de confidentialité. Les modifications seront publiées sur cette page, et la date de la dernière mise à jour sera indiquée en haut du document.
                </p>
            </div>

            <div class="confidentialite-contenue">
                <h3 class="confidentialite-sous-titre">
                    Contact
                </h3>
                <p class="confidentialite-text">
                    Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à [votre adresse e-mail]. Nous vous remercions de votre confiance.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}