/*------------------------------------------------------------------------------
    CSS Home - page d'accueil
--------------------------------------------------------------------------------*/

.hero-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
    margin-left: 10%;
    text-transform: uppercase;
}

#hero .bouton-resa {
    position: relative;
    z-index: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

#hero a {
    color: #fff;
}

#hero .card-icon {
    border: 5px solid #fff;
    color: #fff;
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

#hero .card-icon:hover {
    background-color: white;
    color: #006adc;
}

#hero .bouton-resa p {
    margin-top: 25px;
    margin-left: 1%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.card {
    height: 407px;
}

.card strong {
    text-transform: uppercase;
    color: #173b6c;
}

.portfolio-links a {
    font-size: 20px !important;
}

fieldset {
    visibility: hidden;
}